 <div class="main-wrapper main-wrapper-1">

    <!-- Main Content -->
    <div class="main-content">
        <section class="section">
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="mb-3">All Enquries</h4>
                          </div>
                          <div class="card-body p-0">
                            <div class="table-responsive">
                              <table class="table table-striped table-md">
                                <tr>
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Message</th>
                                  <th>Action</th>
                                  <!-- <th>Time</th> -->
                                </tr>
                                <% let cnt  = (page-1)*(perPage) %> 
                                <% enqs.forEach((enquiry, ind) => { %> 
                                    <tr>
                                        <td><%= cnt + 1 %></td>
                                        <td><%= enquiry.name %> </td>
                                        <td><%= enquiry.email %> </td>
                                        <td><%= enquiry.message.substring(0, 50) %>.... </td>
                                        <td>
                                            <a href="#"  class="btn btn-danger delete-enquiry" data-id="<%= enquiry.id %>"><i class="fas fa-trash"> </i></a>
                                           
                                            <button type="button" class="btn btn-primary view-enquiry-message" data-toggle="modal"  data-target="#basicModal" data-enquiry="<%= JSON.stringify(enquiry) %>"><i class="fas fa-eye"> </i></button>
                                        </td>
                                    </tr> 
                                    <% ++cnt %> 
                                <% }) %>
                               
                              </table>
                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <nav class="d-inline-block">
                              <ul class="pagination mb-0">
                               
                                <li class="page-item <%= page == 1 ? 'disabled': '' %>">
                                  <a class="page-link" href="/messages/enquiries?id=<%= page-1 %>" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                </li>
                             
                                <% for(let i=1; i <= totalPages; i++) { %>
                                   
                                    
                                    <% if(page == i){ %> 
                                        <li class="page-item active">
                                            <a class="page-link" href="/messages/enquiries?id=<%= i %>"><%= i %></a>
                                        </li>
                                    <% }else { %> 
                                        <li class="page-item">
                                            <a class="page-link" href="/messages/enquiries?id=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %> 
                                    
                                <% } %>
  
                                <li class="page-item <%= parseInt(page) >= parseInt(totalPages) ? 'disabled': page %>">  
                                    <a class="page-link " href="/messages/enquiries?id=<%= parseInt(page) + parseInt(1) %>"><i class="fas fa-chevron-right"></i></a>
                                </li>
                              </ul>
                            </nav>
                          </div>
                        </div>
                      </div>
                </div>

            </div>
        </section>

    </div>

</div>
</div>


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Message Info   </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex align-center">
        <h6>Name: </h6>  
        <p class="ml-4 enq-modal-name"></p>

      </div>

      <div class="d-flex align-center">
        <h6>Email: </h6>  
        <p class="ml-4 enq-modal-email"></p>
      </div>

      <div class="">
        <h6>Message: </h6>  
        <p class="ml-4 enq_modal_message"></p>
      </div>
    </div>
    <div class="modal-footer bg-whitesmoke br">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>